.thank-you-page {
	min-height: calc(100vh - 140px); 
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 40px 20px;
	text-align: center;
	background-color: #f5ddf2;
	
  }
  
  .thank-you-page h2 {
	font-size: 28px;
	color: #b83cb8;
	margin-bottom: 16px;
  }
  
  .thank-you-page p {
	font-size: 18px;
	color: #333;
	max-width: 500px;
  }
  .back-home-btn {
	margin-top: 20px;
	padding: 10px 20px;
	background-color: #e997c6;
	color: white;
	border: none;
	border-radius: 8px;
	font-weight: bold;
	cursor: pointer;
	transition: background-color 0.3s ease;
  }
  
  .back-home-btn:hover {
	background-color: #d16fae;
  }
  
	
	