.add-product-page {
	padding: 20px;
	text-align: center;
  }
  
  .add-product-form {
	position: relative;
	max-width: 400px;
	margin: auto;
	background: #fce4ec;
	padding-top: 36px; 
	padding-right: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	border-radius: 12px;
	box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }
  
  .add-product-form input {
	display: block;
	width: 100%;
	margin: 12px 0;
	padding: 8px;
	border-radius: 6px;
	border: 1px solid #ccc;
  }
  
  .add-product-form button {
	background-color: #e997c6;
	color: white;
	padding: 6px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	margin-top: 10px;
  }
  
  .add-product-form button:hover {
	background-color: #d16fae;
  }
  
  .add-product-form small {
	color: red;
	font-size: 12px;
  }
  .form-close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	background-color: #fce4ec;
	border: none;
	border-radius: 50%;
	font-size: 14px;
	color: #555;
	cursor: pointer;
	padding: 6px;
	line-height: 1;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s ease;
  }
  
  .form-close-btn:hover {
	background-color: #f8bbd0;
	color: #000;
  }
  body{
	background-color: rgb(241, 221, 225);
  }
  
  
  